//====================================================================================================

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/


.header {
	color: #fff;
	&__top {
		background-color: $mainGrey;
	}

	&__bottom {
		background-color: #000000;
	}
}
.top-header {

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(15);
	}

	&__logo {
	}

	&__clocks {
		font-weight: 500;
		line-height: percent(20,16);

	}

	&__info-call {
	}
}
.info-call {
	display: flex;
	flex-direction: column;
	gap: rem(10);
	&__link {
		font-weight: 600;
		font-size: rem(18);
		line-height: percent(20, 18);
		@media(any-hover:hover) {
			&:hover {
				color: $mainOrange;
			}
		}
		&_orange{
			font-size: rem(14);
			color: #FC573B;
			text-decoration-line: underline;
		}
	}
}


.header-top {

	&__body {
		display: flex;
	}

	&__actions {
		display: flex;
	}

	&__total {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: rem(4);
	}

	&__text {
	}

	&__value {
		font-weight: 700;
	}
}
.actions {

	&__link {
		display: inline-block;
		padding: rem(32);
		@media(any-hover: hover) {
			&:hover {
				background-color: $mainOrange;
			}
		}
	}
	&:not(:last-child) {
		margin-right: rem(16);
	}
}
//=========================================================================

.bottom-header {

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(15);
		padding-top: rem(18);
		padding-bottom: rem(18);
	}

	&__catalog {
	}

	&__btn {
		display: flex;
		gap: rem(15);
		padding: rem(16);
		border: 1px solid $mainOrange;
		border-radius: rem(5);
		transition: background-color 0.3s ease;
		@media(any-hover: hover) {
			&:hover {
				background-color: $mainOrange;
			}
		}
	}

	&__menu {
		
	}

	&__socials {
	}

	&__search {
	}
}

.bottom-header-menu {

	&__list {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiveValue("gap", 60, 15);
	}

	&__item {
		@media(any-hover: hover) {
			&:hover {
				color: $mainOrange;
			}
		}
		&_catalog {
		}
	}

	&__link {
	}
}

.socials-bottom-header {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(12);
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		width: rem(37);
		height: rem(36);
		border-radius: 50%;
		transition: background-color 0.3s ease;
		@media(any-hover: hover) {
			&:hover {
				background-color: $mainOrange;
			}
		}
	}
}


.search-bottom-header {
	background: #FFFFFF;
	border-radius: rem(5);
	position: relative;
	@include adaptiveValue("width", 310, 210);
	&__button {
		position: absolute;
        top: 0;
        left: rem(8);
        background-color: transparent;
        height: rem(41);
        width: rem(41);
        display: flex;
        justify-content: center;
        align-items: center;
        color:  #8A8A8A;
	}

	&__input {
		width: 100%;
        height: rem(42);
        padding: 0 rem(20) 0 rem(57);
        color: $mainColor;
        background-color: transparent;
        border-radius: 3px;
        &::placeholder {
            color:  #8A8A8A;
        }
	}
}

